mixin fields(remove, hide, click, header)
  h5
    span= header
    .pull-right
      i.zmdi.zmdi-plus-circle.add-btn(ng-click=click)
  .row(ng-hide=hide)
    .col-sm-12
      p 
        | No parameter is set. Add one by clicking 
        a(ng-click=click) here
        | .
  .row.field(ng-class='item.include? "active" : ""')&attributes(attributes)
    .col-sm-4.input
      input.form-control(ng-model='item.name' placeholder='{{item.label}}')
    .col-sm-6.input
      input.form-control(ng-model='item.value')
    .col-sm-1
      checkbox.checkbox(type="checkbox" ng-model='item.include' ng-disabled='item.required')
    .col-sm-1
      i.zmdi.zmdi-minus-circle.remove-btn.pull-right(ng-click=remove)
